* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 52, 56);
        min-height: 100vh;
    }



.container {
    width: 1200px;
    min-height: 100vh;
    padding: 0 10px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);


}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    text-align: start;
    border: 1px solid rgb(203, 203, 203);
        border-radius: 4px;
        font-size: 16px;
}
.red {
    color: red;
}

.black {
    color: black;
}