* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    min-width: 400px;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;

}
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;

    overflow: hidden;

    white-space: nowrap;

    border: 0;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    text-align: start;

}